{% extends 'base2.html.twig' %}
{% block title %}
<title>OutWithUs- Login</title>
{% endblock %}


{% block body %}
 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({{asset('Front/assets/img/Capture.PNG')}})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>OutWithUs</span></h2>     
            </div>
          </div>
        </div>


      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                       

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">S'authentifer</h5>
                                    <p class="text-center small">Merci de saisir votre adresse email &amp; mot de passe pour s'authentifer</p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate="" method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                            <div class="invalid-feedback">Merci de saisir votre adresse email!</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                        <div class="invalid-feedback">Merci de saisir votre mot de pass!</div>
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >

                                   
                                    <div class="col-12">
                                        <button class="btn btn-danger w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Vous avez oublié votre password? <a href="{{ path('forgot') }}">Réinitialiser</a></p>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Vous n'avez pas un compte? <a href="{{ path('security_registration') }}">S'inscrire</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                      

                    </div>
                </div>
            </div>

        </section>

    </div>







{% endblock %}