{% extends 'base2.html.twig' %}

{% block title %}
<title>OutWithUs- Inscription</title>
{% endblock %}
{% block body %}

 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({{asset('Front/assets/img/Capture.PNG')}})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>OutWithUs</span></h2>     
            </div>
          </div>
        </div>


      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">S'inscrire</h5>
                                    <p class="text-center small">Remplir vos données personnelles pour créer un compte</p>
                                </div>


                                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                <div class="col-12">
                                        <label for="yourName" class="form-label">Nom</label>

                                        <div class="invalid-feedback">Merci de saisir votre nom!</div>
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                                    {{form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}

                                </div>
                                <div class="col-12">
                                    <label for="yourName" class="form-label">Prenom</label>

                                    <div class="invalid-feedback">Merci de saisir votre prenom!</div>
                                {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                                {{form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}

                            </div>

                            <div class="col-12">
                                <label for="yourEmail" class="form-label">choisr un nom d'utilisateur</label>
                                {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                                {{form_errors(form.username,{'attr':{'class':'text-danger'}}) }}
                                <div class="invalid-feedback">Merci de saisir votre username!</div>
                            </div>
                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Email</label>
                                        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                        {{form_errors(form.email,{'attr':{'class':'text-danger'}}) }}
                                        <div class="invalid-feedback">Merci de saisir votre adresse email!</div>
                                    </div>



                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Mot de passe</label>
                                        {{ form_widget(form.password.first,{'attr':{'class':'form-control'}}) }}
                                        <div class="invalid-feedback">Merci de saisir votre mot de pass!</div>
                                    </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Confirm Password</label>
                                    {{ form_widget(form.password.second,{'attr':{'class':'form-control'}}) }}
                                    <div class="invalid-feedback">Merci de confirmer votre mot de passe!</div>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Ajouter une image</label>
                                    {{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
                                    <div class="invalid-feedback">Merci d'ajouter une image'!</div>
                                </div>
                               
                                   
                                    <div class="col-12">
                                        <button class="btn btn-danger w-100" type="submit">S'inscrire</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Vous avez déja un compte? <a href="{{path('app_login')}}">Log in</a></p>
                                    </div>
                                {{ form_end(form) }}

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}