{% extends 'base2.html.twig' %}
{% block body %}
        <div class="page h-100">
            <div class="page-content zindex-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                            <div class="card mb-0 shadow-none">
                                <div class="card-header">
                                    <h3 class="card-title">reset Password</h3>
                                </div>
                                {% for flashError in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}
                                {{ form_start(requestForm)}}
                                <div class="card-body">
    
                                    <form>
                                        <div class="form-group">
                                            <label class="form-label" for="exampleInputname">Adresse email</label>
                                            {{ form_widget(requestForm.email , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'adresse email'}} ) }}
                                            {{ form_errors(requestForm.email) }}
                                        </div>
                                        <div class="form-group mb-0">
                                                {{ form_widget(requestForm) }}
                                                <button type="submit" class="btn btn-success">send password reset email</button>
                                            </div>
                                        </div>
                                <div class="text-center  mt-3 text-dark">
                                     <a href="{{ path('security_login') }}">Connexion</a>
                                </div>
                                    </form>
                                </div>
                                {{ form_end(requestForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}
    