{% extends 'base2.html.twig' %}


{% block body %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Nos Evenements</h2>
       
      </div>

    </div>
  </section>

 <!-- ======= Blog Section ======= -->
 <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">


            {% for e in evenement %}


          <article class="entry">

            <div class="entry-img">
                {% if e.image|length > 0 %}
                        <img src="{{ asset('uploads/'~ e.image ) }}" alt="" class="img-fluid">
                        {% else %}
                        <img src="{{ asset('uploads/'~ "404.png" ) }}" alt="" class="img-fluid">
                        {% endif %}   
              
            </div>

            <h2 class="entry-title">
              <a href="{{ path('evenement_detail', {'id': e.id}) }}"> {{ e.NomEvent }}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bx bx-dollar"></i> <a href="#">{{ e.PrixEvent }}</a>
                <a href="{{ path('evenement_jaime', {'id': e.id}) }}" class="btn btn-link js-like">
                    {% if app.user and e.isLikeByUser(app.user) %}
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                     {% else %}                            
                     <i class="bi bi-hand-thumbs-up"></i>
                     {% endif %}
                     <span class="js-likes">{{ e.jaimes | length }}</span>
                     <span class="js-label">J'aime</span>
                     
                 </a>
</li>
              </ul>
            </div>

            <div class="entry-content">
             
              <div class="read-more">
                <a href="{{ path('evenement_detail', {'id': e.id}) }}">Découvrir</a>
              </div>
            </div>
         
          </article>
          <!-- End blog entry -->
          {% endfor %}
          <div class="blog-pagination">
            <ul class="justify-content-center">
          {{ knp_pagination_render(evenement) }}
        </ul>
        </div>
           
           
           
          

        </div><!-- End blog entries list -->


      </div>

    </div>
  </section><!-- End Blog Section -->











<script src="https://unpkg.com/axios@0.26.1/dist/axios.min.js"></script>
<script>
    function onClickBtnLike(event){
      event.preventDefault();

      const url=this.href;
      const spanCount=this.querySelector('span.js-likes');
      const icone= this.querySelector('i');

      axios.get(url).then(function (response){
          spanCount.textContent=response.data.likes;
          if (icone.classList.contains('bi-hand-thumbs-up-fill'))
              icone.classList.replace('bi-hand-thumbs-up-fill','bi-hand-thumbs-up');
          else
              icone.classList.replace('bi-hand-thumbs-up','bi-hand-thumbs-up-fill');
      })
    }

    document.querySelectorAll('a.js-like').forEach(function (link){
        link.addEventListener('click',onClickBtnLike);
    })
</script>
{% endblock %}