{% extends 'base.html.twig' %}
{% block body %}

<br /><br /><br /><br />


       <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Liste des Paiements</h3>
        <div class="row mb">
          <!-- page start-->
          <div class="content-panel">
        <a href="{{ path('paiement_data_download') }}" class="btn btn-primary w-40">Télécharger les données</a>
        
            
              <table class="table table-hover">
                <thead>
                  <tr>
                                     
                    <th >Vérifier</th>
                    <th >Détails</th>
                    <th>Utlisateur</th>
                    <th>Evénement</th>  
                    <th>carte</th>
                    <th>year</th>
                    <th>month</th>
                    <th>cvc</th>
                    <th>prix</th>
                    <th>status</th>
                    <th>email</th>
                    
                  
                  </tr>
                </thead>
                <tbody>
         
          <tr {% for p in paiement %}>

            <td><a href="{{ path('u',{'id':p.id}) }}">Vérifier</a></td>
            <td><a href="{{ path('details_paiement',{'id':p.id}) }}">Consulter</a></td>
            <td>{{ p.user.nom }}</td>
            <td>{{ p.evenement.NomEvent }}</td>            
            <td>{{ p.carte }}</td>
            <td>{{ p.year }}</td>
            <td>{{ p.month }}</td>
            <td>{{ p.cvc }}</td>
            <td>{{ p.prix }}</td>
            <td>{{ p.status }}</td>
            <td>{{ p.email }}</td>
              </tr {% endfor %}>
                </tbody>
              </table>
            
          </div>
          <!-- page end-->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>

{% endblock %}